.sideBarElement {
    overflow: hidden;
}
.sideBarElement:hover {
    background-color: #f8f8f8;
}

.sidenavCollapse {
    /* opacity: 0.6; */
    cursor: pointer;
}

.sidenavCollapse:hover {
    transition: all 0.1s ease-in-out;
    /* opacity: 1; */
    /* transform: scale(1.01); */
}
.sidenavCollapse:active {
    transition: all 0.1s ease-in-out;
    opacity: 0.9;
    transform: scale(1);
}